@import "tailwindcss";



.no-scrollbar::-webkit-scrollbar {
    display: none;
}


input[type="radio"]:checked + .styled-radio {
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
  }